.body{
	background: pink;
	
}
.banner{
	width: 1200px;
	height: 465px;
	background:url('../image/a.jpg') no-repeat center 0px;
	background-size: cover;
	position: relative;
	margin: 0 auto;
}
.banner-info{
	width: 100%;
	padding: 55px 0;
	height: 355px;
	background: url('../image/dott.png') 0px 0px;
	background-size: cover;
	position: absolute;
}
.banner-info .container{
	width: 940px;
	margin: 0 auto;
	height: 355px;
}
.container .header-img img{
   width: 250px;
   height: 250px;
   border: 5px solid rgba(255, 255, 255, 0.68);
}
.container .self-message{
	width: 600px;
	padding-left: 50px;
	height: 355px;
	color: white;
}
.container .self-message h5{
	font-size: 1.2em;
	text-align: center;
	width: 85px;
	height: 35px;
	line-height: 35px;
	color: black;
	background: #F3E000;
	position: relative;
}
.container .self-message h5:before{
	content: "";
	width: 0px;
	height: 0px;
	border:10px solid transparent;
	border-top:10px solid #F3E000;
	position: absolute;
	top: 35px;
}
.container .self-message h3{
	font-size: 2.5em;
	margin-top: 18px;
	height: 38px;
}
.container .self-message h6{
	font-family: 'Overlock', cursive;
	font-size: 1.2em;    
	letter-spacing: 6px;
	margin-top: 10px;
	color: #C7C7C7;
}
.container .self-message .address-text{
    padding-top: 20px;
	margin-top: 28px;
	border-top:1px solid #C7C7C7;
}
.address-text li{
	height: 40px;
	line-height: 40px;
	font-size: 1.2em;
}
.address-text li b{
	display: inline-block;
	width: 150px;
}
.address-text li:last-child{
	color: #fff;
}

.nav{
	
	margin: 0 auto;
	width: 1200px;
	height: 60px;
	color: white;
	font-size: 1.2em;
	background: #008B8B;
}
.nav .navbar{
    width: 940px;
    margin: 0 auto;
    text-align: center;
}
.nav .navbar li{
    line-height: 60px;
    display: inline-block;
}
.nav .navbar li a{
    display: inline-block; 
    height: 60px;
	line-height: 60px;
    padding: 0 34px;
    font-size: 1.2em;
    font-family: 'Overlock', cursive;
    position: relative;
}
.nav .navbar li:hover a{
	color: #008B8B;
	background: white;
	border-radius: 5px;
	transform: scale(0.8);
    transition: all 0.5s;
}


.content{
	width: 1200px;

	margin: 0 auto;
}
.about{
	padding: 5em 0;
}
.about-contanier{
	width: 970px;
	margin:0 auto;
}
.about-contanier h2{
	font-size: 4em;
    text-align: center;
    height: 76px;
    color: #008B8B;
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
}
.about-contanier .self-introduce{
	width: 590px;
	margin-top: 3em;
	font-size: 1.2em;
    line-height: 1.8em;
    color: #999;
    text-indent: 2em;
}
.about-contanier .introduce-parent{
	overflow: hidden;
	margin:0 1.2em;
}
.about-contanier .Interest{
	margin-top: 3em;
	width: 150px;
	border:3px double #008B8B;
	padding: 1em 2.8em;
	
}
.about-contanier .Interest h3{
    font-size: 2em;
    text-align: center;
    color: #008B8B;
    line-height: 30px;
}
.about-contanier .Interest-list li{
	color: #999;
    margin: 1em 0;
    font-size: 1.2em;
}
.about-contanier .Interest-list li:before{
	content: url('../image/右.png');
	font-size: bold;
	margin-right: 0.5em;
	line-height: 1.8em;
}

.experience{
	width: 100%;
	background: black;
	padding: 5em 0;
}
.experience .experience-contanier{
	width: 970px;
	margin: 0 auto;
	/*background: pink;*/
}
.experience-contanier h2{
	font-size: 4em;
    text-align: center;
    height: 76px;
    color: #008B8B;
    margin-bottom: 60px;
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
}
.experience-ifo{
	/*height: 200px;*/
	overflow: hidden;
}
.experience-ifo .experience-fl{
	width: 50%;
	padding: 42px 70px 0 0;  
    font-size: 1.2em;
    display: inline-block;
    color: #fff;
    box-sizing: border-box;
}
.experience-ifo .experience-fl span{
	background: darkcyan;
	width: 123px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	position: relative;
}
.experience-ifo .experience-fl span:after{
	content: "";
	border: 10px solid transparent;
	border-left: 10px solid darkcyan;
	/*float: right;*/
	position: absolute;
	right: -20px;
	top: 9px;
	
}
.experience-ifo .experience-fr{
	padding: 35px 0 14px 84px;
	width: 50%;
	display: inline-block;
    box-sizing: border-box;
    border-left: 1px solid #999;
}
.experience-ifo .experience-fr h5{
	font-size: 1.3em;
	line-height: 50px;
    color: #F7E612;
    margin-bottom: .5em;
    border: 1px solid #F7E612;
    display: inline-block;
    padding: 0 1.2em;
    margin-bottom: 1.2em;
    position: relative;
}
.experience-fr .company-icon{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	left: -110px;
	top: 0px;
	background: darkcyan url('../image/gongsixingxi.png') no-repeat center;
	background-size: 20px 20px;
}
.experience-ifo:hover .company-icon{
    transform: scale(1.2);
    transition: all 0.5s;
}

.experience-ifo .experience-fr p{
	color: #999;
    line-height: 1.8em;
}
/*
.experience-ifo .experience-fl h5{
	font-size: 1.3em;
	line-height: 50px;
    color: #F7E612;
    margin-bottom: .5em;
    border: 1px solid #F7E612;
    display: inline-block;
    padding: 0 1.2em;
    margin-bottom: 1.2em;
    position: relative;
}
.experience-fr span{
	background: darkcyan;
	width: 123px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	position: relative;
}*/

.Education{
	width: 100%;
	/*background: black;*/
	padding: 5em 0;
}
.Education .Education-contanier{
	width: 970px;
	margin: 0 auto;
	/*background: pink;*/
}
.Education-contanier h2{
	font-size: 4em;
    text-align: center;
    height: 76px;
    color: #008B8B;
    margin-bottom: 60px;
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
}

.experience-fr .company-icon{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	left: -110px;
	top: 0px;
	background: darkcyan url('../image/Education experience.png') no-repeat center;
	background-size: 20px 20px;
}


.skill{
	width: 100%;
	background: black;
	padding: 5em 0;
}
.skill .skill-contanier{
	width: 970px;
	margin: 0 auto;
	/*background: pink;*/
}
.skill-contanier h2{
	font-size: 4em;
    text-align: center;
    height: 76px;
    color: #008B8B;
    margin-bottom: 60px;
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
}
.skill-contanier .skill-list li{
    display: inline-block;
    width: 200px;
    margin: 0 19.6px;
}
.skill-contanier .skill-list li p{
	line-height: 40px;
	text-align: center;
	font-size: 1.5em;
	color: #999;
}
.skill-contanier .other-skill{
	padding:5em 5em 0 5em;
}
.skill-contanier .other-skill li{
	display: inline-block;
	width: 40%;/*
	padding: 0 2em;*/
	margin-bottom: 2.2em;
}
.skill-contanier .other-skill li p{
	height: 16px;
	margin-bottom: 0.6em;
	font-size: 1.1em;
    color: #fff;
}
.skill-contanier .other-skill li:nth-child(2),.skill-contanier .other-skill li:nth-child(4){
	margin-left: 160px;
}
.skill-contanier .other-skill li .health{
	height: 10px;
	background: #2f2c06;
	border-radius: 5px;
	position: relative;
}
.skill-contanier .other-skill li .health .son{
	position: absolute;
	/*width: 80%;*/
	height: 10px;
	border-radius: 5px;
/*	background-image:linear-gradient(45deg,#766e04,#8a8329,#766e04);*/
}


.project{
	width: 100%;
	padding: 5em 0;
}
.project .project-contanier{
	width: 1200px;
	margin: 0 auto;
}
.project-contanier h2{
	font-size: 4em;
    text-align: center;
    height: 76px;
    color: #008B8B;
    margin-bottom: 60px;
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
}
.project-list{
	padding: 0 20px;
}
.project-list li{
	display: inline-block;
	border: 1px solid pink;
    width: 320px;
    height: 320px;
    margin: 0 30px 36px;
    background-size: 100% 100%;
    position: relative;
/*    transform: translate(50% 50%);*/
}
.project-list li a{
	background: rgba(10,10,10,.2);
	display: inline-block;
	width: 100%;
	height: 100%;
}

.translate-wrapper{
    background:url("../image/translate.png") no-repeat center center;
}
.ordering-wrapper{
	background:url("../image/ordering.png") no-repeat center center;
}
.blog-wrapper{
	background:url("../image/blog.png") no-repeat center center;
}
.MeiTuan-wrapper{
	background:url("../image/MeiTuan.png") no-repeat center center;
}
.mutao-wrapper{
	background:url("../image/mutao.png") no-repeat center center;
}
.project-list .more{
	text-align: center;
    
}
.project-list .more span{
	display: inline-block;
	line-height: 320px;
    font-size: 26px;
    color: red;
}


.contact{
	width: 100%;
	background: black;
	padding: 5em 0;
}
.contact .contact-contanier{
	width: 970px;
	margin: 0 auto;
	/*background: pink;*/
}
.contact-contanier h2{
	font-size: 4em;
    text-align: center;
    height: 76px;
    color: #008B8B;
    margin-bottom: 60px;
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
}















