*{
	padding: 0;
	margin: 0;
	font-family: Microsoft YaHei;
	font-size: 12px;
	color: #4d555d;
	text-align: center;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
span{
	display: inline-block;
}
img{
	display: inline-block;
}

/*header层*/
header{
	background: #f3f5f7;
	width: 1200px;
	margin: 0 auto;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #cdd0d4; 
}
.header-left li{
	width: 90px;
	float: left;
	display: inline-block;
}
.header-right{
	float: right;
}
.header-right>li{
	width: 90px;
	border-bottom: none;
	display: inline-block;
	position: relative;
	padding: 0 10px;
	background: url("../img/dropdown-arrow.png") no-repeat;
	background-position: 90% 50%;
}
.header-right>li:hover>a,.header-left>li:hover>a{
	color: red;
}
.header-right>li:hover{
	width: 88px;
	background: white url("../img/dropdown-arrow-active.png") no-repeat;
	background-position: 90% 50%;
	border: 1px  solid #cdd0d4;
	border-top: none; 
}
.header-right .son-list{
	position: absolute;
	left: -1px;
	width: 90px;
	top: 45px;
	border: 1px solid #cdd0d4;
	border-top: none; 
	background: white;
	z-index: 999;
	display: none;
}
.header-right .son-list>li:hover,.son-list-right>li:hover{
	background:#f3f5f7;
}
.header-right .son-list-right{
	position: absolute;
	right: 0;
	width: 75px;
	top: 45px;
	border: 1px solid #cdd0d4;
	background: white;
	z-index: 999;
	display: none;
}

.header-right>li:hover .son-list,.header-right>li:hover .son-list-right{
	border-top: none;
	right: -1px;
	display: block;
}
.header-right .son-list>li,.son-list-right>li{
	padding-left:5px; 
	height: 30px;
	line-height: 30px;
	text-align: left;
}

/*section层*/
section{
	height: 48px;
	padding: 38px 0;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	background: #f3f5f7;
}
section div{
	float: left;
	width: 48px;
}
.section-log{
	height: 48px;
	width: 200px;
	background: url("../img/未标题-1.png") no-repeat,url("../img/未标题-2.png") no-repeat;
	background-position: 20px 0,80px 6px;
}
.section-log a{
	display: inline-block;
	height: 48px;
	width: 200px;
}
.section-serch{
	width: 680px;
	height: 45px;
	margin-left: 100px;
}
.section-serch input{
	height: 43px;
	width: 576px;
	background: white;
	padding-left: 20px;
	border: none;
	float: left;
	text-align: left;
	font-size: 16px;
	border: 1px solid #f3f5f7;
	outline-style: none;
}
.searchbtn{
	cursor: pointer;
	height: 45px;
	width: 80px;
	background: #07111b;
	float: right;
	margin-top: 1px;
	line-height: 45px;
	color: white;
	font-size: 14px;
	border: none;
	outline: none;
}
.section-serch-list{
	width: 680px;
	background: pink;
	position: relative;
	z-index: 9999;
	overflow: hidden;
	display: none;
	cursor: pointer;
}
.section-serch-list li{
	background: white;
	height: 30px;
	width: 660px;
	line-height: 30px;
	padding-left: 20px;
	text-align: left;
	float: left;
	color: block;
} 
.section-shopcar{
	position: absolute;
	right: 0;
	width: 160px;
	height: 45px;
	z-index: 2;
    line-height: 45px;
    background: red url('../img/gwc-1.png') no-repeat 20px center;
}
.section-shopcar>span:first-child{
	color: white;
	font-size: 14px;
    position: relative;
    padding: 0 20px;
}
.section-shopcar>.shopcar:after{
	content: "";
	width: 2px;
	height: 18px;
	background: white;
	display: inline-block;
	margin-left: 12px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
}
.section-shopcar .father-num{
	color: white;
	font-size: 14px;
	margin-left: 5px;
}
.section-shopcar .father-num:after{
	content: "";
	width: 8px;
	height: 8px;
	display: inline-block;
	background: url("../img/xiabiao-1.png") no-repeat;
	position: relative;
	left: 13px;
}
.section-shopcar:hover .father-num:after{
	content: "";
	width: 8px;
	height: 8px;
	display: inline-block;
	background: url("../img/xiabiao-1 - 副本.png") no-repeat;
	position: relative;
	left: 13px;
}

/*有商品时购物车下拉*/
.section-shopcar-dropdown{
	border: 1px solid #cdd0d4;
	margin-top: -1px;
	width: 300px;
	padding: 0 10px;
	background: white;
	position: absolute;
	right: 0;
	z-index: 9999;
	display: none;
}
.section-shopcar-dropdown>div,.section-shopcar-dropdown>ul{
	width: 288px;
	text-align: left;
}
.section-shopcar-dropdown .header{
	height: 55px;
	font-size: 16px;
	color: black;
	padding-left: 12px;
    line-height: 55px;
	border-bottom: 1px solid #cdd0d4;
}
.section-shopcar-dropdown .goods{
	height: 330px;
	margin-top: 56px;
	overflow-y: scroll;
}
.section-shopcar-dropdown .goods>li{
	border-bottom: 1px solid #cdd0d4;
	height: 56px;
	width: 250px;
    /*line-height: 65px;*/
	padding-left: 12px;
	text-align: left;
	padding-top: 9px;
}
.section-shopcar-dropdown .goods>li .goods-img img{
	width: 49px;
	height: 48px;
}
.section-shopcar-dropdown .goods>li p{
	text-align: left;padding-left: 12px;
	display: inline-block;
    width: 150px;
    height: 24px;
    line-height: 24px;
}
.section-shopcar-dropdown .goods>li button{
	width: 20px;
	height: 20px;
	background: transparent;
	font-size: 16px;
	color: #4d555d;
	margin-top: -5px;
}
.section-shopcar-dropdown .sum{
    height: 70px;
    width: 260px;
    padding-left: 12px;
    line-height: 70px;
}
.section-shopcar-dropdown .sum span{
	color: black;
	font-size: 14px;
}
.section-shopcar-dropdown .sum .goods-num,.section-shopcar-dropdown .sum .goods-sum{
	font-weight: bold;
}
.section-shopcar-dropdown .sum button{
	width: 80px;
	height: 36px;
	border-radius: 5px;
	margin-top: 17px;
	background: red;
	color: white;
	font-size: 14px;
}

/*无商品时购物车下拉*/
.section-shopcar-dropdown-No{
	border: 1px solid #cdd0d4;
	margin-top: -1px;
	width: 320px;
	background: #ffffff;
	position: absolute;
	right: 0;
	z-index: 9999;
	height: 120px;
	display:none; 
}
.section-shopcar-dropdown-No .content{
	width: 170px;
	height: 48px;
	background:  #ffffff;
	margin: 36px 75px;
}
.section-shopcar-dropdown-No .content p{
	width: 110px;
	height: 24px;
	line-height: 20px;
	text-align: left;
	margin-left: 10px;
	color: #9aa0a8;
}

/*nav层*/
nav{
	position: relative;
	background: #07111b;
	height: 48px;
	width: 100%;
	z-index: 1;
}
.nav-body{
	height: 48px;
	width: 1200px;
	margin: 0 auto;

}
.nav-body a{
	color: inherit;
	font-size: 14px;
}
.nav-body>ul{
	margin-left: 200px;
	/*float: left;*/
}
.nav-body>ul li{
	height: 48px;
}


/*content层*/
.content{
	width: 100%;
	z-index: 0;
}
.content-contenier{
	width: 1200px;
	height: 512px;
	/*overflow: hidden;*/
	margin: 8px auto;
	/*position: relative;*/
}
#all-goods{
	position: relative;
	width: 200px;
	height: 505px;
	top: -60px;
	z-index: 2;
}

#all-goods>a{
	display: block;
	width: 200px;
	text-align:left;
    height: 52px;
    background: red;
    line-height: 52px;
	color: white;
}
#all-goods>a:before{
	content: "";
	width: 11px;
	height: 11px;
	background: url(../img/未标题-5.png);
	display: inline-block;
	margin-right: 10px;
}

.align-nav li{
	color: white;
    float: left;
    line-height: 50px;
    padding: 0 20px;
    text-align:left;
}
#choice span{
	color: red;
}

.vertical-nav{
	height: 512px;
	position: absolute;
	width: 200px;
	background: rgba(240,20,20);
}
.vertical-nav>li{
	width: 184px;
	background: url("../img/左箭头.png") no-repeat 180px center;
}
.vertical-nav>li{
    text-align:left;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
}
.vertical-nav>li>a{
	color: white;
}
.vertical-nav>li .dropdown-layer{
	width: 752px;
	background: white;
	position: absolute;
	left: 200px;
	top: 0;
	z-index:9999;
}
.dropdown-layer .dropdown-list{
	overflow: hidden;
	margin-top: 20px;
}
.dropdown-list-tittle{
	width: 120px;
	text-align: right;
}
.dropdown-list-tittle a{
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
	border-right: 2px solid lightgray;
}
.dropdown-list-tittle a:hover{
	color: red;
}
.dropdown-list-item{
	width: 610px;
	text-align: left;
	margin-left: 20px;
}
.dropdown-list-item a{
	margin-right: 20px;
	font-size: 14px;
	display: inline-block;
	color: #6d6d6e;
}


/*电梯层级*/
.elevator{
	position: fixed;
	top: 40%;
	display: none;
	font-size: 12px;
	width: 30px;
}
.elevator li{
	line-height: 30px;
	border-top: 1px #d9dde1 solid;
}
.elevator li .elevator-text{
	display: none;
}

/* 幻灯片 */
.content-silder{
	position: relative;
	width: 728px;
	height: 504px;
	/*top: 0;
	*/
	left: 8px;
	/*right: -208px;*/
	overflow: hidden;
}
.content-silder .img-list{
	position: absolute;
	left: -728px;
	width: 4368px;
	height: 504px;
	background: pink;
}
.content-silder .img-list li{
	float: left;
}
.content-silder .img-list li a,.content-silder .img-list li img{
	display: inline-block;
}
.count-list{
	position: absolute;
	bottom: 30px;
	left: 50%;
	line-height: 12px;
	transform: translate(-50%,0);
}
.count-list li{
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 4px;          
	background: #313a43;
	margin: 0 5px;
}
#active{
    width: 8px;
    height: 8px;
    border-radius: 6px;
    border:2px solid #878d94;
    margin-top: -2px;
    background: white;
}
.content-silder .btn{
	height: 60px;
	width:  728px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	display: none;
}
.content-silder .btn span{
	display: inline-block;
	font-size: 40px;
	width: 30px;
	line-height: 60px;
	color: white;
	text-align: center;
	background:black;
	opacity: .6;
	padding-bottom: 5px;
}



.content-right{
	position: relative;
	width: 246px;
	height: 504px;
	border: 1px #d9dde1 solid;
}

.left-head{
	height: 196px;
	width: 246px;
	text-align: left;
}
.left-head .fastnews{
	overflow: hidden;
}
.left-head h3{
	font-size: 16px;
	color: red;
	line-height: 48px;
	display: inline-block;
	float: left;
	padding: 0 20px;
}
.left-head .more{
	font-size: 12px;
	color: #93999f;
	display: inline-block;
	float: right;
	line-height: 48px;
	margin: 0 20px;
	padding: 0 15px;
	cursor: pointer;
	background: url("../img/more.png") no-repeat right center;
}
.fastnews-list li{
    text-align: left;
    padding: 0 0 0 10px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.moreuse li{
	float: left;
	width: 60.5px;
	position: relative;
	height: 71px;
	border-top:1px  #d9dde1 solid;
	border-right:1px  #d9dde1 solid;
}
.moreuse li img{
	margin-top: 17px;
}
.moreuse li dt{
	position: absolute;
	display: inline-block;
	bottom: 12px;
	width: 100%;
	left: 50%;
	transform: translate(-50%,0);
}
.left-footer{
	height: 90px;
	width: 100%;
	background: url("../img/left-footer.png");
}

/*商品展示区*/
.goods{
	/*background: gray;*/
	width: 1200px;
    margin: 0 auto;
}
.goods-cheap{
	position: relative;
	margin-bottom: 10px;
	width: 1200px;
	height: 158px;
	z-index: 1;
	overflow: hidden;
}
.goods-cheap .img-list_1{
	position: absolute;
	left: 0;
	width: 3600px;
	height: 158px;
}
.goods-cheap .img-list_1>li{
	display: none;
}
.goods-cheap .img-list_1 #goods-cheap-active{
	display: block;
}
.goods-cheap  img{
	float: left;
}

.goods-cheap .click-btn{
	width: 1200px;
	height: 60px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 49px;
	opacity: .6;
	display: none;
} 
.goods-cheap .click-btn span{
	font-size: 30px;
	line-height: 60px;
	width: 30px;
	color: white;
	background: black;
}


.floor-contanier{
	display: none;
}
.clothes{
	position: relative;
	height: 68px;
	line-height: 68px;
	border-bottom: 1px solid red;
	width: 1200px;
	overflow: hidden;
	z-index: 1;
}
.clothes .left-floor{
    float: left;
    line-height: 68px;
}

.clothes .left-floor span:first-child{
	text-align: center;
	font-size: 12px;
	color: white;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 12px;
	background: #07111b;
	position: relative;
	top: -3px;
}
.clothes .left-floor span:last-child{
	font-size: 20px;
	color: #07111b;
	padding: 0 10px;

}
.clothes .right-class{
    float: right;
    height: 68px;
}
.clothes .right-class span{
    color: #93999f;
    font-size: 14px;
    padding: 0 13px;
    line-height: 14px;
    position: relative;
}
.clothes .right-class span:nth-child(2){
	border-left: 1px solid #d9dde1;
	border-right: 1px solid #d9dde1;
}
.right-class>span img{
    position: absolute;
    width: 14px;
    height:8px;
    left: 50%;
    margin-left: -6px;
    bottom: -30px;
    z-index:9999999;
/*    background:white url("../img/上标.png") no-repeat;*/
    display: none;
}
#right-class-active{
	color: red;
}
#right-class-active img{
	display: inline-block;
}
.clothes-list{
	overflow: hidden;
	/*height: 466px;*/
	display: none;
}
#clothes-list-active{
	display: block;
}
.clothes-list>span{
	position: relative;
    float: left;
    width: 200px;
    z-index: 999;
    height: 233px;
    padding: 32px;
    box-sizing: border-box;
}
.addCart{
	position: absolute;
	top: 5px;
	right: 5px;
	background: red;
	opacity: 0.5;
	height: 30px;
	width: 30px;
}
.clothes-list span .addCart .icon-gouwuche{
	color: white;
	font-size: 30px;
}
.clothes-list-item-choiced{
	z-index: 9999;
	box-shadow: 3px 3px 10px lightgray,-3px 0 10px lightgray;
}
.clothes-list p{
	width: 160px;
	height: 35px;
	line-height: 35px;
	text-indent: -20px;
}
.clothes-list .price{
    color: red;
    font-size: 14px;
	font-weight: bold;
}


.help{
	padding:30px 30px;
	margin: 0px auto; 
	border-top:1px solid #d9dde1;
	width: 1200px;
	height: 78px;
}
.help ul{
	display: none;
}
.help h5{
	text-align: left;
	font-size: 16px;
	line-height: 20px;
	color: black;
}
.help li{
	text-align: left;
	float: left;
}
.help>ul>li{
	font-size: 12px;
	line-height: 20px;
	color: #93999f;
	width: 300px;
}
.help>ul>li li{
	margin-right: 22px;
	margin-top: 10px;
}
footer li:hover,.help>ul>li li:hover{
	color: red;
}

/*footer区*/
footer{
	padding: 30px 0;
	color: #93999f;
	height: 42px;
	background:#f3f5f7;
}
footer .footer-contanier{
	display: none;
}
footer ul{
	overflow: hidden;
	width: 804px;
	margin: 0 auto;
}
footer li{
	float: left;
	padding:0 8px;
	line-height: 24px;
}

footer p{
	line-height: 24px;
}
#to-top{
	display: none;
	position: fixed;
	z-index: 999;
	right: 0;
	color: red;
	right: 20px;
	bottom: 20px;
/*	background: url('../img/返回顶部.jpg');*/
}
#to-top .iconfont{
    color: red;
	font-size: 50px;
}